<div *ngIf="loading">
  <app-navbar></app-navbar>
  <div class="container">
    <header class="header">
      <img src="assets/images/logo.png" alt="Pokemon Logo" class="logo">
    </header>
    <div class="search-container">
      <input type="text" [(ngModel)]="searchTerm" [placeholder]="translations.search" class="search-input"
             (keyup.enter)="onSearch()">
      <button class="search-button" (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
      <button *ngIf="isAdmin" class="add-item" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
      </button>

    </div>
    <div class="pokemon-grid">
      <div *ngFor="let pokemon of pokemons" class="pokemon-card">
        <div class="texts">
          <div class="type-tags">
            <span *ngFor="let type of pokemon.types" class="type {{ type }}">{{ type | titlecase }}</span>
          </div>
          <h2 class="pokemon-name">{{pokemon.name | titlecase}}</h2>
          <p class="pokemon-description">{{ pokemon.description }}</p>
          <div class="buttons">
            <a [routerLink]="['/pokemon', pokemon._id]">
              <button mat-icon-button>
                <mat-icon>visibility</mat-icon>
              </button>
            </a>
            <button *ngIf="isAdmin" mat-icon-button (click)="openEditDialog(pokemon)">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="isAdmin" mat-icon-button color="warn" (click)="deletePokemon(pokemon)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>
        <div>
          <span class="pokemon-id">{{ pokemon.id | leadingZeros }}</span>
          <img [src]="pokemon.image" [alt]="pokemon.name"  loading="lazy"  class="pokemon-image">
        </div>
      </div>
    </div>
    <div class="custom-pagination">
      <div class="custom-pagination-content">
        <div class="pagination">
          <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">
            <<
          </button>
          <span *ngFor="let page of [].constructor(totalPages); let i = index">
      <button
        [class.active]="i + 1 === currentPage"
        (click)="goToPage(i + 1)"
      >
        {{ i + 1 }}
      </button>
    </span>
          <button
            (click)="goToPage(currentPage + 1)"
            [disabled]="currentPage === totalPages"
          >
            >>
          </button>
        </div>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<div *ngIf="!loading" class="loading">loading...</div>

