<h1 mat-dialog-title>{{translations.addNewPokemon}}</h1>
<form [formGroup]="form" (ngSubmit)="onSave()">
  <div mat-dialog-content>
    <!-- Имя -->
    <mat-form-field appearance="fill">
      <mat-label>{{translations.name}}</mat-label>
      <input matInput formControlName="name"/>
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        {{translations.theNameIsRequired}}
      </mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('minlength')">
        {{translations.theNameMustBeAtLeast3CharactersLong}}
      </mat-error>
    </mat-form-field>

    <br>
    <!-- URL изображения -->
    <div class="file-upload-container">
      <!-- Кнопка для выбора файла -->
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        <mat-icon>upload</mat-icon>
        {{translations.uploadAnImage}}

      </button>

      <!-- Имя файла после выбора -->
      <span *ngIf="selectedFileName" class="file-name">
    {{ selectedFileName }}
  </span>

      <!-- Скрытое поле ввода для выбора файла -->
      <input #fileInput type="file" (change)="onFileSelected($event)" accept="image/*" hidden/>

      <!-- Предварительный просмотр загруженного изображения -->
      <div *ngIf="previewImage" class="image-preview">
        <img [src]="previewImage" alt="Предварительный просмотр"/>
      </div>

      <!-- Сообщение об ошибке, если файл не выбран -->
      <mat-error *ngIf="!form.get('image')?.value && form.get('image')?.touched">
        {{translations.uploadingAnImageIsRequired}}
      </mat-error>
    </div>

    <br>
    <!-- Высота -->
    <mat-form-field appearance="fill">
      <mat-label> {{translations.height}} (м)</mat-label>
      <input matInput type="number" formControlName="height"/>
      <mat-error *ngIf="form.get('height')?.hasError('min')">
        {{translations.theHeightMustBeGreaterThan0}}
      </mat-error>
    </mat-form-field>

    <br>
    <!-- Вес -->
    <mat-form-field appearance="fill">
      <mat-label>{{translations.weight}} (кг)</mat-label>
      <input matInput type="number" formControlName="weight"/>
      <mat-error *ngIf="form.get('weight')?.hasError('min')">
        {{translations.theWeightMustBeGreaterThan0}}
      </mat-error>
    </mat-form-field>

    <br>
    <!-- Описание -->
    <mat-form-field appearance="fill">
      <mat-label>{{translations.description}}</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="form.get('description')?.hasError('required')">
        {{translations.aDescriptionIsRequired}}
      </mat-error>
      <mat-error *ngIf="form.get('description')?.hasError('maxlength')">
        {{translations.descriptionShouldMax200}}
      </mat-error>
    </mat-form-field>

    <br>
    <!-- Типы -->
    <div class="add-item-dialog">
      <mat-form-field appearance="fill">
        <mat-label>{{ translations.selectTheTypes}}</mat-label>
        <mat-select formControlName="types" multiple>
          <mat-option *ngFor="let type of types" [value]="type.name">
            <span
              class="type-label"
              [style.backgroundColor]="type.color"
            ></span>
            {{ type.name | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="selected-types">
        <span
          *ngFor="let type of form.get('types')?.value"
          class="chip"
          [style.backgroundColor]="getTypeColor(type)"
        >
          {{ type | titlecase }}
        </span>
      </div>
    </div>

    <br>
    <!-- Умения -->
    <div class="add-item-dialog">
      <mat-label>{{translations.skills}}</mat-label>
      <div *ngFor="let ability of pokemon.abilities; let i = index" class="chip">
        {{ ability }}
        <button mat-icon-button color="warn" (click)="removeAbility(i)">
          <mat-icon>{{translations.cancel}}</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>{{translations.addASkill}}</mat-label>
        <input matInput formControlName="newAbility" (keydown.enter)="addAbility()"/>
      </mat-form-field>

    </div>

    <br>
    <!-- Характеристики -->
    <h3 class="add-item-dialog">{{translations.specifications}}</h3>
    <div formArrayName="stats">
      <div *ngFor="let stat of stats.controls; let i = index" [formGroupName]="i">
        <mat-form-field appearance="fill">
          <mat-label>{{ stat.get('name')?.value }}</mat-label>
          <input matInput type="number" formControlName="value"/>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">{{translations.cancel}}</button>
    <button mat-button color="primary" [disabled]="form.invalid">{{translations.save}}</button>
  </div>
</form>
