<div class="login-container">
  <h1>Login</h1>
  <p>
    Don`t have an account?
    <a routerLink="/register">Create Now</a>
  </p>
  <form>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Enter your email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        placeholder="Enter your password"
        [(ngModel)]="password"
        name="password"
      />
      <button
        mat-icon-button
        matSuffix
        tabindex="-1"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="'Toggle password visibility'"
        [attr.aria-pressed]="!hidePassword"
      >
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button class="login-button" (click)="onLogin()">
      Login
    </button>

<!--    <a href="#" class="forgot-password">Forgot a password?</a>-->

<!--    <div class="separator">-->
<!--      <span>Or</span>-->
<!--    </div>-->

<!--    <button mat-stroked-button class="social-button facebook">-->
<!--      <mat-icon class="social-icon">facebook</mat-icon>-->
<!--      Continue with Facebook-->
<!--    </button>-->

<!--    <button mat-stroked-button class="social-button google">-->
<!--      <mat-icon class="social-icon">google</mat-icon>-->
<!--      Continue with Google-->
<!--    </button>-->
  </form>
</div>
