.login-container {
  max-width: 400px;
  margin: 200px auto 0;
  text-align: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 25px;
    color: #555;

    a {
      color: #FF5F5FFF;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .full-width {
    width: 100%;
  }

  .login-button {
    width: 100%;
    background: #FF5F5FFF;
    color: #fff;
    font-size: 1rem;
    margin: 1rem 0;
  }

  .forgot-password {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: #555;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .separator {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #ccc;
    }

    span {
      margin: 0 1rem;
      color: #888;
    }
  }

  .social-button {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;

    .social-icon {
      margin-right: 0.5rem;
    }

    &.facebook {
      color: #4267b2;
      border-color: #4267b2;
    }

    &.google {
      color: #ff5f5f;
      border-color: #ff5f5f;
    }
  }
}
.mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix{
  padding-bottom: 1px !important;
}
