<nav class="navbar">
  <!-- Логотип -->
  <img [routerLink]="['/pokemon']" src="assets/images/logo.png" alt="Logo" class="logo">

  <!-- Элементы навбара для больших экранов -->
  <div class="navbar-items" fxHide.lt-md>
    <mat-icon class="theme-icon" (click)="toggleTheme()">
      {{ isDarkTheme ? 'brightness_2' : 'wb_sunny' }}
    </mat-icon>
    <app-language-switcher></app-language-switcher>
    <button mat-raised-button color="primary" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      {{translations.logOut}}
    </button>
  </div>

  <!-- Меню бургер для маленьких экранов -->
  <button mat-icon-button class="burger-menu" fxShow.lt-md (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<!-- Затемняющий фон -->
<div class="overlay" *ngIf="isMenuOpen" (click)="closeMenu()"></div>

<!-- Выпадающее меню -->
<div *ngIf="isMenuOpen" class="burger-dropdown">
  <mat-icon class="theme-icon" (click)="toggleTheme()">
    {{ isDarkTheme ? 'brightness_2' : 'wb_sunny' }}
  </mat-icon>
  <app-language-switcher></app-language-switcher>
  <button mat-raised-button color="primary" (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    {{translations.logOut}}
  </button>
</div>
