/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html {
  height: 100%;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
  //margin-top: 20px;
}

// Variables
$font-family: Arial, sans-serif;
$background-color: #f1f4f9;
$modal-background: rgba(0, 0, 0, 0.5);
$shadow-light: rgba(0, 0, 0, 0.13);
$shadow-medium: rgba(0, 0, 0, 0.1);
$color-primary: #ff5f5f;
$color-secondary: #d4e157;
$color-secondary-hover: #bad300;
$color-text-primary: #333;
$color-text-secondary: #888;
$border-radius-small: 10px;
$border-radius-large: 25px;
// Светлая тема (существующие переменные)
$background-color: #ffffff;
$color-primary: #ff5f5f;
$color-text-primary: #333;
$color-text-secondary: #888;
// Темная тема (новые переменные)
$dark-background-color: #212121;
$dark-text-primary: #e0e0e0;
$dark-text-secondary: #b0b0b0;
$dark-primary-color: #bb86fc;
$dark-card-bg: #282828;
// Type colors
$type-colors: (
  grass: #48d0b0,
  poison: #9f5bba,
  normal: #A8A77A,
  fire: #EE8130,
  water: #6390F0,
  electric: #F7D02C,
  ice: #96D9D6,
  fighting: #C22E28,
  ground: #E2BF65,
  flying: #A98FF3,
  psychic: #F95587,
  bug: #A6B91A,
  rock: #B6A136,
  ghost: #735797,
  dark: #705746,
  dragon: #6F35FC,
  steel: #B7B7CE,
  fairy: #D685AD
);
.loading {
  font-size: 24px;
  text-align: center;
  font-weight: bolder;
  margin-top: 100px;
}

.light-theme {
  background-color: $background-color;
  color: $color-text-primary;

  .pokemon-card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px $shadow-medium;
  }

  .pokemon-name {
    color: $color-text-primary;
  }

  .pokemon-description {
    color: $color-text-secondary;
  }

  .mat-mdc-select {
    color: $color-text-primary;
  }
}

.dark-theme {
  background-color: $dark-background-color !important;
  color: $dark-text-primary;

  .pokemon-card {
    background-color: $dark-card-bg;
    box-shadow: 0 4px 8px $shadow-medium;
  }

  .pokemon-name {
    color: $dark-text-primary;
  }

  .pokemon-description {
    color: $dark-text-secondary;
  }

  .mat-mdc-paginator {
    background-color: $dark-card-bg;
    color: $dark-text-primary;
  }

  .mat-mdc-select {
    color: $dark-text-primary;
  }

  div.mat-mdc-select-panel {
    background-color: $dark-card-bg;
  }

  .mat-mdc-option {
    color: $dark-text-primary;
  }

  .mat-mdc-icon-button {
    color: $dark-text-primary !important;
  }

  .search-input {
    background-color: $dark-card-bg;
    color: $dark-text-secondary;
  }

  .custom-pagination button {
    background-color: $dark-background-color;
    color: $dark-text-secondary;
  }

  .custom-pagination select {
    background-color: $dark-background-color;
    color: $dark-text-secondary;
  }

  .custom-pagination button:disabled {
    background-color: #363636;
  }

  div.mat-mdc-autocomplete-panel {
    background-color: $dark-background-color;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: $dark-text-primary;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: $dark-text-secondary;
  }

  .mdc-text-field {
    //border: 1px solid $dark-text-secondary;
  }

  .burger-dropdown {
    background-color: $dark-background-color;
  }

  .mat-mdc-raised-button:not(:disabled) {
    background-color: #ff5f5f8f;
  }

  ._mat-animation-noopable .mat-mdc-dialog-surface {
    background-color: $dark-background-color;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: $dark-card-bg;
  }

  .mat-mdc-dialog-container .mat-mdc-dialog-title {
    color: $dark-text-primary
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label{
    color: $dark-text-primary;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input{
    color: $dark-text-primary;
  }
  .mat-mdc-button:not(:disabled) {
    color: $dark-primary-color;
  }
  .mat-mdc-button[disabled], .mat-mdc-button.mat-mdc-button-disabled{
    color: $dark-primary-color;
  }
  .mat-pseudo-checkbox-full{
    border-color: $dark-text-secondary;
  }
  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text{
    color: $dark-text-secondary;
  }
  .mat-mdc-dialog-container .mat-mdc-dialog-content{
    color: $dark-text-primary;
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-floating-label{
    color: $dark-text-secondary;
  }
  .footer{
    background-color: $dark-card-bg !important;
  }
}

mat-icon {
  font-size: 36px;
  cursor: pointer;
  transition: color 0.3s ease;
}

mat-icon:hover {
  color: #1976d2; /* Синий цвет при наведении */
}

// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  //display: flex;
  //justify-content: center;
  //padding: 20px;
  background-image: url("assets/images/Group.png");
  background-repeat: no-repeat;
  background-size: contain;
}

//.bg .img {
//  background-image: url('/assets/images/Group.png');
//  background-repeat: no-repeat;
//  width: 350px;
//  background-size: contain;
//  z-index: -1;
//  position: absolute;
//  opacity: 0.5;
//}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;

  .navbar-item {
    display: flex;
    align-items: center;
    gap: 20px;
    //width: 50%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;

  .logo {
    width: 490px;
    margin-top: 50px;
  }
}

.navbar .logo {
  width: 192px;
}

// Search styles
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.search-input {
  width: 100%;
  padding: 25px 30px;
  border-radius: $border-radius-small;
  border: none;
  outline: none;
  font-size: 1rem;
  box-shadow: 0 2px 4px $shadow-light;
}

.add-item, .search-button {
  background-color: $color-primary;
  box-shadow: 0 2px 4px $shadow-light;
  border: none;
  padding: 19px 29px 25px 24px;
  border-radius: 10%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;

  mat-icon {
    //width: 30px !important;
    //height: 30px !important;
    font-size: 30px;
    color: white;
  }
}

.add-item-dialog {
  display: flex;
  flex-direction: column;

}

// Pokemon grid
.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  gap: 25px;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.pokemon-card {
  border-radius: $border-radius-small;
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  box-shadow: 0 4px 8px $shadow-medium;
  background-color: $background-color;
}

.type-tags {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 10px;
}

.type {
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 12px;
  color: #ffffff;

  // Apply colors dynamically
  @each $name, $color in $type-colors {
    &.#{$name} {
      background-color: $color;
    }
  }
}

// Text styles
.pokemon-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.pokemon-id {
  font-size: 0.9rem;
  color: $color-text-secondary;
  margin-bottom: 10px;
}

.pokemon-image {
  width: 150px;
  margin-bottom: 15px;
}

.pokemon-description {
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

// Button styles
.know-more {
  background-color: $color-secondary;
  border: none;
  padding: 10px 20px;
  border-radius: $border-radius-large;
  font-size: 0.9rem;
  cursor: pointer;
  color: $color-text-primary;
  text-decoration: none;
}

.know-more:hover {
  background-color: $color-secondary-hover;
  transition: .3s;
}

/* Стили для пагинации */
mat-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.mat-paginator-range-label {
  font-size: 14px;
  color: #666;
  margin: 0 8px;
}

.mat-paginator-page-size-label {
  font-size: 14px;
  color: #666;
}

/* Стили для кнопок */
.mat-paginator-button {
  font-size: 14px;
  color: #333;
  padding: 8px 14px;
  margin: 0 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Активная страница */
.mat-paginator-button.mat-paginator-page.mat-paginator-button-active {
  background-color: #6200ea;
  color: white;
  border-color: #6200ea;
}

/* При наведении */
.mat-paginator-button:hover {
  background-color: #f1f1f1;
  border-color: #999;
}

/* Disabled кнопки */
.mat-paginator-button[disabled] {
  background-color: #e0e0e0;
  color: #aaa;
  cursor: not-allowed;
}

/* Стиль для кнопок "First" и "Last" */
.mat-paginator-navigation-previous,
.mat-paginator-navigation-next {
  font-size: 14px;
  font-weight: 600;
  padding: 8px 12px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mat-paginator-navigation-previous:hover,
.mat-paginator-navigation-next:hover {
  background-color: #ddd;
}
hr{
  width: 100%;
}
.buttons{
  display: flex;
}
.burger-dropdown {
  position: absolute;
  top: 64px;
  right: 16px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Упорядочиваем элементы по вертикали */
  gap: 16px; /* Добавляем отступы между элементами */
  padding: 16px;
  z-index: 1000; /* Поверх затемнения */
}

/* Стиль для центральных кнопок */
.mat-paginator-page {
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.mat-paginator-page.mat-paginator-button-active {
  background-color: #6200ea;
  color: white;
  border-color: #6200ea;
}

/* Стиль для выбора страницы размера */
.mat-paginator-page-size select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  margin-left: 8px;
}

.mat-paginator-page-size select:focus {
  outline: none;
  border-color: #6200ea;
}

.mat-paginator-page-size {
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.mat-paginator-page-size select {
  width: 80px;
  height: 36px;
}

/* Дизайн для "..." (многоточие) */
.mat-paginator-page-size label,
.mat-paginator-page {
  font-size: 14px;
  padding: 0 8px;
  height: 32px;
}

.mat-mdc-paginator-page-size-label {
  display: none;
}

.mat-mdc-paginator {
  margin-top: 20px;
}

.mat-mdc-paginator-range-label {
  display: none;
}

.mat-mdc-text-field-wrapper {
  height: 55px !important;
  margin-top: 10px;
}

.custom-pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;


  .custom-pagination-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  button {
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    font-size: 14px;

    &:disabled {
      cursor: not-allowed;
      background-color: #f1f1f1;
    }

    &.active {
      background-color: #386ABB;
      color: white;
    }
  }

  select {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
}

.mat-mdc-form-field {
  min-width: 100% !important;
}

.mdc-text-field--outlined .mat-mdc-form-field-infix, .mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding-top: 12px !important;
}

.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.custom-pagination-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Активная кнопка страницы */
.page-button.active {
  font-weight: bold;
  text-decoration: underline;
}

.mat-mdc-raised-button:not(:disabled) {
  background-color: #ff5f5f !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13);
  border: none;
  padding: 24px 20px;
  border-radius: 5px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  //width: 250%;
  height: 80% !important;
}

.mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  height: 300px;
}

.mat-mdc-dialog-actions {
  justify-content: flex-end !important;
  padding: 20px !important;
}

@media screen and (max-width: 768px) {
  .header .logo {
    width: 300px;
  }
}

@media screen and (max-width: 684px) {
  .container {
    padding: 0 20px;
  }
  .header {
    display: none;
  }
  .navbar {
    margin-bottom: 50px !important;
  }
  .search-button, .add-item {
    //padding: 10px;
    padding: 10px 15px 13px 11px;

    margin-left: 5px;
  }
  .search-input {
    padding: 20px 20px 20px 25px;
  }
  .pokemon-card {
    //padding: 30px;
  }
  .first-button,
  .last-button,
  .page-button,
  .page-size-select {
    display: none; /* Скрыть First, Last, номера страниц и выбор размера страницы */
  }
}
